# Dependencies
node_modules
npm-debug.log

# Build outputs
dist
build

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Version control
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.docker

# IDE
.idea
.vscode

# Misc
*.log
.DS_Store